@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Arslan is a devops engineer that has aproximatly more then 3 year of experinced in this field and he skilled in docker , linux, terraform , kubbernates </p>
